In [1]:
import pandas as pd

In [2]:
inflows = pd.read_parquet('/uss/hdsi-prismdata/q1-ucsd-inflows.pqt')

In [3]:
outflows = pd.read_parquet('/uss/hdsi-prismdata/q1-ucsd-outflows.pqt')

In [4]:
inflows.head(5)

,prism_consumer_id,prism_account_id,memo,amount,posted_date,category
0,0,acc_0,PAYCHECK,2477.02,2022-03-18,PAYCHECK
1,0,acc_0,EXTERNAL_TRANSFER,100.00,2022-10-25,EXTERNAL_TRANSFER
2,0,acc_0,MISCELLANEOUS,6.29,2022-08-26,MISCELLANEOUS
3,0,acc_0,EXTERNAL_TRANSFER,277.00,2022-06-03,EXTERNAL_TRANSFER
4,0,acc_0,EXTERNAL_TRANSFER,100.00,2022-07-29,EXTERNAL_TRANSFER

In [5]:
outflows.head(5)

,prism_consumer_id,prism_account_id,memo,amount,posted_date,category
0,0,acc_0,LOAN,900.60,2022-07-05,LOAN
1,0,acc_0,ATM_CASH,80.00,2022-03-25,ATM_CASH
2,0,acc_0,TST* Casa Del Rio - Exp Fairlawn OH 09/24,18.42,2022-09-26,FOOD_AND_BEVERAGES
3,0,acc_0,LOAN,634.00,2023-01-10,LOAN
4,0,acc_0,Buffalo Wild Wings,26.47,2022-09-12,FOOD_AND_BEVERAGES

In [6]:
inflows['prism_consumer_id'].nunique()

2974

In [144]:
inflows['memo'].value_counts()

memo
EXTERNAL_TRANSFER        156533
SELF_TRANSFER            110437
DEPOSIT                   61345
MISCELLANEOUS             55648
PAYCHECK                  33138
PAYCHECK_PLACEHOLDER      26087
REFUND                    23220
INVESTMENT_INCOME         17325
SMALL_DOLLAR_ADVANCE      13621
OTHER_BENEFITS             7708
TAX                        3405
LOAN                       2513
UNEMPLOYMENT_BENEFITS      1961
INSURANCE                   174
Name: count, dtype: int64

In [8]:
inflows[inflows['memo'] == inflows['category']]

,prism_consumer_id,prism_account_id,memo,amount,posted_date,category
0,0,acc_0,PAYCHECK,2477.02,2022-03-18,PAYCHECK
1,0,acc_0,EXTERNAL_TRANSFER,100.00,2022-10-25,EXTERNAL_TRANSFER
2,0,acc_0,MISCELLANEOUS,6.29,2022-08-26,MISCELLANEOUS
3,0,acc_0,EXTERNAL_TRANSFER,277.00,2022-06-03,EXTERNAL_TRANSFER
4,0,acc_0,EXTERNAL_TRANSFER,100.00,2022-07-29,EXTERNAL_TRANSFER
...,...,...,...,...,...,...
513110,5941,acc_9524,EXTERNAL_TRANSFER,8.66,2023-01-21,EXTERNAL_TRANSFER
513111,5941,acc_9524,EXTERNAL_TRANSFER,267.13,2023-01-23,EXTERNAL_TRANSFER
513112,5941,acc_9524,EXTERNAL_TRANSFER,2.00,2023-01-24,EXTERNAL_TRANSFER
513113,5941,acc_9524,EXTERNAL_TRANSFER,207.16,2023-01-24,EXTERNAL_TRANSFER
513114,5941,acc_9524,EXTERNAL_TRANSFER,281.71,2023-01-25,EXTERNAL_TRANSFER

In [9]:
len(inflows)

513115

In [39]:
inflows['memo'].nunique()

14

In [40]:
inflows['category'].nunique()

14

In [41]:
 inflows[['category','memo']].groupby('category').nunique()

                       memo
category
DEPOSIT                   1
EXTERNAL_TRANSFER         1
INSURANCE                 1
INVESTMENT_INCOME         1
LOAN                      1
MISCELLANEOUS             1
OTHER_BENEFITS            1
PAYCHECK                  1
PAYCHECK_PLACEHOLDER      1
REFUND                    1
SELF_TRANSFER             1
SMALL_DOLLAR_ADVANCE      1
TAX                       1
UNEMPLOYMENT_BENEFITS     1

In [10]:
outflows['memo'].value_counts()

memo
EXTERNAL_TRANSFER                                                                    320998
AUTOMOTIVE                                                                           208579
ATM_CASH                                                                             117651
UNCATEGORIZED                                                                        117409
LOAN                                                                                  90945
                                                                                      ...
Par Gators Dockside -                                                                     1
Chilis Mandarin                                                                           1
Chilis Bay Meadows                                                                        1
Southside Liquor                                                                          1
POS WITHDRAWALWAL-MART #XXXX XXXX E MCKELLIPS RD MESA AZ  Card 15 #XXXX  MCC XXXX         1
Name: count, Length: 528786, dtype: int64

In [11]:
list(outflows['category'].unique())

['LOAN',
 'ATM_CASH',
 'FOOD_AND_BEVERAGES',
 'ENTERTAINMENT',
 'GENERAL_MERCHANDISE',
 'ESSENTIAL_SERVICES',
 'GROCERIES',
 'EXTERNAL_TRANSFER',
 'AUTOMOTIVE',
 'UNCATEGORIZED',
 'CREDIT_CARD_PAYMENT',
 'SELF_TRANSFER',
 'PETS',
 'HEALTHCARE_MEDICAL',
 'INSURANCE',
 'ACCOUNT_FEES',
 'HOME_IMPROVEMENT',
 'TRAVEL',
 'MORTGAGE',
 'OVERDRAFT',
 'EDUCATION',
 'RENT',
 'TAX',
 'CHILD_DEPENDENTS',
 'GIFTS_DONATIONS',
 'BILLS_UTILITIES',
 'PAYCHECK',
 'BNPL',
 'AUTO_LOAN']

In [12]:
outflows[outflows['category'] == 'BILLS_UTILITIES']['memo'].unique()

array(['BILLS_UTILITIES'], dtype=object)

In [13]:
outflows[outflows['category'] == 'UNCATEGORIZED']

,prism_consumer_id,prism_account_id,memo,amount,posted_date,category
27,0,acc_0,UNCATEGORIZED,310.64,2022-02-22,UNCATEGORIZED
65,0,acc_0,UNCATEGORIZED,150.00,2022-03-11,UNCATEGORIZED
75,0,acc_0,UNCATEGORIZED,2.20,2022-08-01,UNCATEGORIZED
84,0,acc_0,UNCATEGORIZED,405.65,2022-03-29,UNCATEGORIZED
119,0,acc_0,UNCATEGORIZED,547.84,2022-08-23,UNCATEGORIZED
...,...,...,...,...,...,...
2597446,5941,acc_9524,UNCATEGORIZED,251.51,2023-01-13,UNCATEGORIZED
2597463,5941,acc_9524,UNCATEGORIZED,804.27,2023-01-18,UNCATEGORIZED
2597467,5941,acc_9524,UNCATEGORIZED,39.64,2023-01-19,UNCATEGORIZED
2597472,5941,acc_9524,UNCATEGORIZED,0.00,2023-01-20,UNCATEGORIZED
2597487,5941,acc_9524,UNCATEGORIZED,35.13,2023-01-25,UNCATEGORIZED

In [14]:
outflows[['category','memo']].groupby('category').nunique()

                       memo
category
ACCOUNT_FEES              1
ATM_CASH                  1
AUTOMOTIVE                1
AUTO_LOAN                 1
BILLS_UTILITIES           1
BNPL                      1
CHILD_DEPENDENTS          1
CREDIT_CARD_PAYMENT       1
EDUCATION              2122
ENTERTAINMENT             1
ESSENTIAL_SERVICES        1
EXTERNAL_TRANSFER         1
FOOD_AND_BEVERAGES   213794
GENERAL_MERCHANDISE  217779
GIFTS_DONATIONS           1
GROCERIES             71174
HEALTHCARE_MEDICAL        1
HOME_IMPROVEMENT          1
INSURANCE                 1
LOAN                      1
MORTGAGE                174
OVERDRAFT               844
PAYCHECK                  1
PETS                   4421
RENT                   1776
SELF_TRANSFER             1
TAX                       1
TRAVEL                16683
UNCATEGORIZED             1

In [15]:
# double checking 

# outflows[outflows['category']=='TAX']

In [16]:
merchant_cat = ['EDUCATION', 'FOOD_AND_BEVERAGES', 'GENERAL_MERCHANDISE', 'GROCERIES', 'MORTGAGE', 'PETS', 'RENT', 'TRAVEL']

In [17]:
merchant_df = outflows[outflows['category'].isin(merchant_cat)][['category','memo']].reset_index()
merchant_df

,index,category,memo
0,2,FOOD_AND_BEVERAGES,TST* Casa Del Rio - Exp Fairlawn OH 09/24
1,4,FOOD_AND_BEVERAGES,Buffalo Wild Wings
2,6,GENERAL_MERCHANDISE,Oculus CA 04/16
3,7,FOOD_AND_BEVERAGES,LOS GIRASOLES STOW OH 03/08
4,8,GENERAL_MERCHANDISE,BUZZIS LAUNDRY 1 OH 03/28
...,...,...,...
1303061,2597457,GENERAL_MERCHANDISE,DEBIT CARD WITHDRAWAL PURCHASEAmazon Prime*TI4...
1303062,2597462,EDUCATION,POS WITHDRAWALAZ LOT QUIKTRIP XXXX XXXX E INDI...
1303063,2597465,FOOD_AND_BEVERAGES,POS WITHDRAWALWAL-MART #XXXX XXXX E MCKELLIPS ...
1303064,2597468,FOOD_AND_BEVERAGES,WITHDRAWAL Salt River ProjeTYPE: ONLINE PMT CO...
1303065,2597476,FOOD_AND_BEVERAGES,POS WITHDRAWALFRYS-FOOD-DRG #1 435 S. E MESA A...

In [18]:
merchant_df.groupby(['category','memo']).count().sort_values(by=['category','index'], ascending=False).groupby('category').head(5)

                                                                        index
category            memo
TRAVEL              Uber                                                 7989
                    Uber Eats                                            5691
                    Lyft                                                 4648
                    POS Debit - Visa Check Card XXXX - UBER TRIP HE...    893
                    UBER TRIP XXXXXXXXXX CA USA                           781
RENT                SOUTHERN INVESTO WEB PMTS                              47
                    NEWREZ-SHELLPOIN WEB PMTS XXXXXXXXXX WEB ID: XX...     37
                    CHECKCARD XXXX GRACELAND RENTAL XXX-XXXXXXX KY ...     30
                    Yardi Process Ma XX40 - WEB PMTS                       29
                    Avana Cumberland DES:Rent ID:XXXXXXXXX INDN:Chi...     26
PETS                PetSmart                                             1450
                    CHEWY.COM                                             255
                    Pet Supplies Plus                                     228
                    Petco                                                 138
                    CHECKCARD XXXX CHEWY.COM FL XXXXXXXXXXXXXXXXXXX...    136
MORTGAGE            HUNTINGTON MORTG ONLINE PMT XXXXXX                     52
                    FREEDOM MTG PYMTS                                      45
                    WELLS FARGO HOME MORTGAGE Bill Payment                 35
                    WF HOME MTG DES:AUTO PAY ID:XXXXXXXXXX INDN:MIC...     26
                    WF HOME MTG DES:AUTO PAY ID:XXXXXXXXXX INDN:MIC...     26
GROCERIES           Walmart                                             31619
                    Kroger                                               8423
                    Target                                               8343
                    Publix                                               7033
                    Safeway                                              6071
GENERAL_MERCHANDISE Amazon                                              31725
                    7-Eleven                                            11675
                    Circle K                                            10148
                    Dollar General                                       7872
                    Apple                                                7394
FOOD_AND_BEVERAGES  McDonald's                                          22670
                    Starbucks                                           12777
                    Chick-fil-A                                          7933
                    Taco Bell                                            6071
                    Wendy's                                              4694
EDUCATION           Teacherspayteachers.com                                90
                    CHECKCARD XXXX BETMGM PLAY+ LAS VEGAS NV XXXXXX...     82
                    Mms University Of Maryl                                59
                    POS Debit - Visa Check Card XXXX - TEACHERSPAYT...     55
                    BARONS #12- NO XXXX UNIVERSITY AV SAN                  49

In [19]:
chosen_cat = ['FOOD_AND_BEVERAGES', 'GENERAL_MERCHANDISE', 'GROCERIES', 'PETS', 'TRAVEL']

In [20]:
chosen_df = outflows[outflows['category'].isin(chosen_cat)][['category','memo']].reset_index()
chosen_df

,index,category,memo
0,2,FOOD_AND_BEVERAGES,TST* Casa Del Rio - Exp Fairlawn OH 09/24
1,4,FOOD_AND_BEVERAGES,Buffalo Wild Wings
2,6,GENERAL_MERCHANDISE,Oculus CA 04/16
3,7,FOOD_AND_BEVERAGES,LOS GIRASOLES STOW OH 03/08
4,8,GENERAL_MERCHANDISE,BUZZIS LAUNDRY 1 OH 03/28
...,...,...,...
1294296,2597455,FOOD_AND_BEVERAGES,POS WITHDRAWALCIRCLE K XXXXX SCOTTSDALE AZ Ca...
1294297,2597457,GENERAL_MERCHANDISE,DEBIT CARD WITHDRAWAL PURCHASEAmazon Prime*TI4...
1294298,2597465,FOOD_AND_BEVERAGES,POS WITHDRAWALWAL-MART #XXXX XXXX E MCKELLIPS ...
1294299,2597468,FOOD_AND_BEVERAGES,WITHDRAWAL Salt River ProjeTYPE: ONLINE PMT CO...
1294300,2597476,FOOD_AND_BEVERAGES,POS WITHDRAWALFRYS-FOOD-DRG #1 435 S. E MESA A...

In [22]:
# - `TRAVEL` :`Uber, Uber Eats, Lyft`
# - `PETS` : `PetSmart, CHEWY.COM, Pet Supplies Plus`
# - `GROCERIES` : `Walmart, Kroger, Target`
# - `GENERAL_MERCHANDISE`: `Amazon, 7-Eleven, Circle K`
# - `FOOD_AND_BEVERAGES` : `McDonald's, Starbucks, Chick-fil-a`

### train test split

In [71]:
from sklearn.model_selection import train_test_split

*for inflows*

In [72]:
inflows

,prism_consumer_id,prism_account_id,memo,amount,posted_date,category
0,0,acc_0,PAYCHECK,2477.02,2022-03-18,PAYCHECK
1,0,acc_0,EXTERNAL_TRANSFER,100.00,2022-10-25,EXTERNAL_TRANSFER
2,0,acc_0,MISCELLANEOUS,6.29,2022-08-26,MISCELLANEOUS
3,0,acc_0,EXTERNAL_TRANSFER,277.00,2022-06-03,EXTERNAL_TRANSFER
4,0,acc_0,EXTERNAL_TRANSFER,100.00,2022-07-29,EXTERNAL_TRANSFER
...,...,...,...,...,...,...
513110,5941,acc_9524,EXTERNAL_TRANSFER,8.66,2023-01-21,EXTERNAL_TRANSFER
513111,5941,acc_9524,EXTERNAL_TRANSFER,267.13,2023-01-23,EXTERNAL_TRANSFER
513112,5941,acc_9524,EXTERNAL_TRANSFER,2.00,2023-01-24,EXTERNAL_TRANSFER
513113,5941,acc_9524,EXTERNAL_TRANSFER,207.16,2023-01-24,EXTERNAL_TRANSFER
513114,5941,acc_9524,EXTERNAL_TRANSFER,281.71,2023-01-25,EXTERNAL_TRANSFER

In [109]:
inflows_consumers = inflows['prism_consumer_id'].unique()
inflows_consumers

array([   0,    2,    4, ..., 5939, 5940, 5941])

In [110]:
in_train_users, in_test_users = train_test_split(inflows_consumers, test_size=0.2)#, random_state=42)
len(in_train_users), len(in_test_users)

(2379, 595)

In [111]:
595/2379

0.25010508617065996

In [112]:
in_train_df = inflows[inflows['prism_consumer_id'].isin(in_train_users)]
in_test_df = inflows[inflows['prism_consumer_id'].isin(in_test_users)]

In [140]:
in_train_df

,prism_consumer_id,prism_account_id,memo,amount,posted_date,category
0,0,acc_0,PAYCHECK,2477.02,2022-03-18,PAYCHECK
1,0,acc_0,EXTERNAL_TRANSFER,100.00,2022-10-25,EXTERNAL_TRANSFER
2,0,acc_0,MISCELLANEOUS,6.29,2022-08-26,MISCELLANEOUS
3,0,acc_0,EXTERNAL_TRANSFER,277.00,2022-06-03,EXTERNAL_TRANSFER
4,0,acc_0,EXTERNAL_TRANSFER,100.00,2022-07-29,EXTERNAL_TRANSFER
...,...,...,...,...,...,...
513110,5941,acc_9524,EXTERNAL_TRANSFER,8.66,2023-01-21,EXTERNAL_TRANSFER
513111,5941,acc_9524,EXTERNAL_TRANSFER,267.13,2023-01-23,EXTERNAL_TRANSFER
513112,5941,acc_9524,EXTERNAL_TRANSFER,2.00,2023-01-24,EXTERNAL_TRANSFER
513113,5941,acc_9524,EXTERNAL_TRANSFER,207.16,2023-01-24,EXTERNAL_TRANSFER
513114,5941,acc_9524,EXTERNAL_TRANSFER,281.71,2023-01-25,EXTERNAL_TRANSFER

In [141]:
in_test_df

,prism_consumer_id,prism_account_id,memo,amount,posted_date,category
356,7,acc_13,INVESTMENT_INCOME,5.75,2022-06-08,INVESTMENT_INCOME
357,7,acc_14,EXTERNAL_TRANSFER,170.00,2022-08-04,EXTERNAL_TRANSFER
358,7,acc_13,SELF_TRANSFER,100.00,2022-05-06,SELF_TRANSFER
359,7,acc_13,SELF_TRANSFER,300.00,2022-10-21,SELF_TRANSFER
360,7,acc_14,SELF_TRANSFER,100.00,2022-07-23,SELF_TRANSFER
...,...,...,...,...,...,...
512813,5940,acc_9523,DEPOSIT,20.00,2023-01-31,DEPOSIT
512814,5940,acc_9523,INVESTMENT_INCOME,0.04,2023-01-31,INVESTMENT_INCOME
512815,5940,acc_9523,DEPOSIT,275.00,2023-01-31,DEPOSIT
512816,5940,acc_9523,EXTERNAL_TRANSFER,3.00,2023-01-31,EXTERNAL_TRANSFER
512817,5940,acc_9523,INVESTMENT_INCOME,228.73,2023-02-01,INVESTMENT_INCOME

In [115]:
len(in_train_df), len(in_test_df)

(411522, 101593)

In [116]:
99026/414089

0.2391418269985438

In [117]:
in_train_df.groupby('prism_consumer_id').size().mean(), in_test_df.groupby('prism_consumer_id').size().mean()

(172.98108448928122, 170.74453781512605)

In [118]:
in_train_df['amount'].mean(), in_test_df['amount'].mean()

(740.601639596425, 710.793294912051)

In [119]:
in_train_df['amount'].median(), in_test_df['amount'].median()

(100.0, 100.0)

In [142]:
# in_train_df['amount']

In [143]:
# in_test_df['amount']

*for outflows*

In [132]:
outflows_consumers = outflows['prism_consumer_id'].unique()
outflows_consumers

array([   0,    2,    4, ..., 5939, 5940, 5941])

In [133]:
out_train_users, out_test_users = train_test_split(outflows_consumers, test_size=0.2, random_state=42)
len(out_train_users), len(out_test_users)

(2374, 594)

In [134]:
594/2374

0.2502106149957877

In [135]:
out_train_df = outflows[outflows['prism_consumer_id'].isin(out_train_users)]
out_test_df = outflows[outflows['prism_consumer_id'].isin(out_test_users)]
len(out_train_df), len(out_test_df)

(2097805, 499683)

In [136]:
len(out_test_df)/len(out_train_df)

0.23819325437779013

In [137]:
out_train_df.groupby('prism_consumer_id').size().mean(), out_test_df.groupby('prism_consumer_id').size().mean()

(883.6583824768323, 841.2171717171717)

In [138]:
out_train_df['amount'].mean(), out_test_df['amount'].mean()

(138.0927030586732, 174.65576219323057)

In [139]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

# Assuming your data is in a DataFrame called `outflows`
# and you have a column 'prism_consumer_id' and 'amount'

results = []

for i in range(10):
    # Step 1: Split at consumer level
    consumers = outflows['prism_consumer_id'].unique()
    train_consumers, test_consumers = train_test_split(consumers, test_size=0.2, random_state=i)
    
    # Step 2: Create train/test DataFrames
    out_train_df = outflows[outflows['prism_consumer_id'].isin(train_consumers)]
    out_test_df = outflows[outflows['prism_consumer_id'].isin(test_consumers)]
    
    # Step 3: Compute mean amount
    train_mean = out_train_df['amount'].mean()
    test_mean = out_test_df['amount'].mean()
    
    # Step 4: Store results
    results.append({
        'run': i+1,
        'train_mean': train_mean,
        'test_mean': test_mean,
        'test_greater_than_train': test_mean > train_mean
    })

# Convert results to DataFrame for easy viewing
results_df = pd.DataFrame(results)

# Print summary
print(results_df)
print("\nTest mean > Train mean count:", results_df['test_greater_than_train'].sum(), "out of 10 runs")

   run  train_mean   test_mean  test_greater_than_train
0    1  143.084348  153.033872                     True
1    2  145.634828  143.093660                    False
2    3  148.333782  132.006570                    False
3    4  135.336009  189.045829                     True
4    5  146.713798  138.832393                    False
5    6  141.546613  159.400710                     True
6    7  145.845616  142.237054                    False
7    8  148.314072  132.605315                    False
8    9  138.849937  168.705635                     True
9   10  141.326526  160.931030                     True

Test mean > Train mean count: 5 out of 10 runs