# Prism Data

In [1]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
import re

In [2]:
inflows = pd.read_parquet('/uss/hdsi-prismdata/q1-ucsd-inflows.pqt')

In [3]:
outflows = pd.read_parquet('/uss/hdsi-prismdata/q1-ucsd-outflows.pqt')

In [4]:
inflows.head(5)

,prism_consumer_id,prism_account_id,memo,amount,posted_date,category
0,0,acc_0,PAYCHECK,2477.02,2022-03-18,PAYCHECK
1,0,acc_0,EXTERNAL_TRANSFER,100.00,2022-10-25,EXTERNAL_TRANSFER
2,0,acc_0,MISCELLANEOUS,6.29,2022-08-26,MISCELLANEOUS
3,0,acc_0,EXTERNAL_TRANSFER,277.00,2022-06-03,EXTERNAL_TRANSFER
4,0,acc_0,EXTERNAL_TRANSFER,100.00,2022-07-29,EXTERNAL_TRANSFER

In [5]:
outflows.head(5)

,prism_consumer_id,prism_account_id,memo,amount,posted_date,category
0,0,acc_0,LOAN,900.60,2022-07-05,LOAN
1,0,acc_0,ATM_CASH,80.00,2022-03-25,ATM_CASH
2,0,acc_0,TST* Casa Del Rio - Exp Fairlawn OH 09/24,18.42,2022-09-26,FOOD_AND_BEVERAGES
3,0,acc_0,LOAN,634.00,2023-01-10,LOAN
4,0,acc_0,Buffalo Wild Wings,26.47,2022-09-12,FOOD_AND_BEVERAGES

## Data Exploration

*inflows*

In [6]:
inflows['prism_consumer_id'].nunique()

2974

In [7]:
inflows['memo'].value_counts()

memo
EXTERNAL_TRANSFER        156533
SELF_TRANSFER            110437
DEPOSIT                   61345
MISCELLANEOUS             55648
PAYCHECK                  33138
PAYCHECK_PLACEHOLDER      26087
REFUND                    23220
INVESTMENT_INCOME         17325
SMALL_DOLLAR_ADVANCE      13621
OTHER_BENEFITS             7708
TAX                        3405
LOAN                       2513
UNEMPLOYMENT_BENEFITS      1961
INSURANCE                   174
Name: count, dtype: int64

In [8]:
inflows[inflows['memo'] == inflows['category']]

,prism_consumer_id,prism_account_id,memo,amount,posted_date,category
0,0,acc_0,PAYCHECK,2477.02,2022-03-18,PAYCHECK
1,0,acc_0,EXTERNAL_TRANSFER,100.00,2022-10-25,EXTERNAL_TRANSFER
2,0,acc_0,MISCELLANEOUS,6.29,2022-08-26,MISCELLANEOUS
3,0,acc_0,EXTERNAL_TRANSFER,277.00,2022-06-03,EXTERNAL_TRANSFER
4,0,acc_0,EXTERNAL_TRANSFER,100.00,2022-07-29,EXTERNAL_TRANSFER
...,...,...,...,...,...,...
513110,5941,acc_9524,EXTERNAL_TRANSFER,8.66,2023-01-21,EXTERNAL_TRANSFER
513111,5941,acc_9524,EXTERNAL_TRANSFER,267.13,2023-01-23,EXTERNAL_TRANSFER
513112,5941,acc_9524,EXTERNAL_TRANSFER,2.00,2023-01-24,EXTERNAL_TRANSFER
513113,5941,acc_9524,EXTERNAL_TRANSFER,207.16,2023-01-24,EXTERNAL_TRANSFER
513114,5941,acc_9524,EXTERNAL_TRANSFER,281.71,2023-01-25,EXTERNAL_TRANSFER

In [9]:
len(inflows)

513115

In [10]:
inflows['memo'].nunique()

14

In [11]:

inflows['category'].nunique()

14

**Number of unique merchants in each category**

In [12]:
 inflows[['category','memo']].groupby('category').nunique()

                       memo
category
DEPOSIT                   1
EXTERNAL_TRANSFER         1
INSURANCE                 1
INVESTMENT_INCOME         1
LOAN                      1
MISCELLANEOUS             1
OTHER_BENEFITS            1
PAYCHECK                  1
PAYCHECK_PLACEHOLDER      1
REFUND                    1
SELF_TRANSFER             1
SMALL_DOLLAR_ADVANCE      1
TAX                       1
UNEMPLOYMENT_BENEFITS     1

*outflows*

In [13]:
outflows['memo'].value_counts()

memo
EXTERNAL_TRANSFER                                                                    320998
AUTOMOTIVE                                                                           208579
ATM_CASH                                                                             117651
UNCATEGORIZED                                                                        117409
LOAN                                                                                  90945
                                                                                      ...
Par Gators Dockside -                                                                     1
Chilis Mandarin                                                                           1
Chilis Bay Meadows                                                                        1
Southside Liquor                                                                          1
POS WITHDRAWALWAL-MART #XXXX XXXX E MCKELLIPS RD MESA AZ  Card 15 #XXXX  MCC XXXX         1
Name: count, Length: 528786, dtype: int64

In [14]:
list(outflows['category'].unique())

['LOAN',
 'ATM_CASH',
 'FOOD_AND_BEVERAGES',
 'ENTERTAINMENT',
 'GENERAL_MERCHANDISE',
 'ESSENTIAL_SERVICES',
 'GROCERIES',
 'EXTERNAL_TRANSFER',
 'AUTOMOTIVE',
 'UNCATEGORIZED',
 'CREDIT_CARD_PAYMENT',
 'SELF_TRANSFER',
 'PETS',
 'HEALTHCARE_MEDICAL',
 'INSURANCE',
 'ACCOUNT_FEES',
 'HOME_IMPROVEMENT',
 'TRAVEL',
 'MORTGAGE',
 'OVERDRAFT',
 'EDUCATION',
 'RENT',
 'TAX',
 'CHILD_DEPENDENTS',
 'GIFTS_DONATIONS',
 'BILLS_UTILITIES',
 'PAYCHECK',
 'BNPL',
 'AUTO_LOAN']

In [15]:
outflows[outflows['category'] == 'BILLS_UTILITIES']['memo'].unique()

array(['BILLS_UTILITIES'], dtype=object)

**Uncategorized Category**

In [16]:
outflows[outflows['category'] == 'UNCATEGORIZED']

,prism_consumer_id,prism_account_id,memo,amount,posted_date,category
27,0,acc_0,UNCATEGORIZED,310.64,2022-02-22,UNCATEGORIZED
65,0,acc_0,UNCATEGORIZED,150.00,2022-03-11,UNCATEGORIZED
75,0,acc_0,UNCATEGORIZED,2.20,2022-08-01,UNCATEGORIZED
84,0,acc_0,UNCATEGORIZED,405.65,2022-03-29,UNCATEGORIZED
119,0,acc_0,UNCATEGORIZED,547.84,2022-08-23,UNCATEGORIZED
...,...,...,...,...,...,...
2597446,5941,acc_9524,UNCATEGORIZED,251.51,2023-01-13,UNCATEGORIZED
2597463,5941,acc_9524,UNCATEGORIZED,804.27,2023-01-18,UNCATEGORIZED
2597467,5941,acc_9524,UNCATEGORIZED,39.64,2023-01-19,UNCATEGORIZED
2597472,5941,acc_9524,UNCATEGORIZED,0.00,2023-01-20,UNCATEGORIZED
2597487,5941,acc_9524,UNCATEGORIZED,35.13,2023-01-25,UNCATEGORIZED

In [17]:
outflows[['category','memo']].groupby('category').nunique()

                       memo
category
ACCOUNT_FEES              1
ATM_CASH                  1
AUTOMOTIVE                1
AUTO_LOAN                 1
BILLS_UTILITIES           1
BNPL                      1
CHILD_DEPENDENTS          1
CREDIT_CARD_PAYMENT       1
EDUCATION              2122
ENTERTAINMENT             1
ESSENTIAL_SERVICES        1
EXTERNAL_TRANSFER         1
FOOD_AND_BEVERAGES   213794
GENERAL_MERCHANDISE  217779
GIFTS_DONATIONS           1
GROCERIES             71174
HEALTHCARE_MEDICAL        1
HOME_IMPROVEMENT          1
INSURANCE                 1
LOAN                      1
MORTGAGE                174
OVERDRAFT               844
PAYCHECK                  1
PETS                   4421
RENT                   1776
SELF_TRANSFER             1
TAX                       1
TRAVEL                16683
UNCATEGORIZED             1

In [18]:
outflows['memo'].value_counts()

memo
EXTERNAL_TRANSFER                                                                    320998
AUTOMOTIVE                                                                           208579
ATM_CASH                                                                             117651
UNCATEGORIZED                                                                        117409
LOAN                                                                                  90945
                                                                                      ...
Par Gators Dockside -                                                                     1
Chilis Mandarin                                                                           1
Chilis Bay Meadows                                                                        1
Southside Liquor                                                                          1
POS WITHDRAWALWAL-MART #XXXX XXXX E MCKELLIPS RD MESA AZ  Card 15 #XXXX  MCC XXXX         1
Name: count, Length: 528786, dtype: int64

In [19]:
list(outflows['category'].unique())

['LOAN',
 'ATM_CASH',
 'FOOD_AND_BEVERAGES',
 'ENTERTAINMENT',
 'GENERAL_MERCHANDISE',
 'ESSENTIAL_SERVICES',
 'GROCERIES',
 'EXTERNAL_TRANSFER',
 'AUTOMOTIVE',
 'UNCATEGORIZED',
 'CREDIT_CARD_PAYMENT',
 'SELF_TRANSFER',
 'PETS',
 'HEALTHCARE_MEDICAL',
 'INSURANCE',
 'ACCOUNT_FEES',
 'HOME_IMPROVEMENT',
 'TRAVEL',
 'MORTGAGE',
 'OVERDRAFT',
 'EDUCATION',
 'RENT',
 'TAX',
 'CHILD_DEPENDENTS',
 'GIFTS_DONATIONS',
 'BILLS_UTILITIES',
 'PAYCHECK',
 'BNPL',
 'AUTO_LOAN']

In [20]:

outflows[outflows['category'] == 'BILLS_UTILITIES']['memo'].unique()

array(['BILLS_UTILITIES'], dtype=object)

**Uncategorized Transactions**

In [21]:

outflows[outflows['category'] == 'UNCATEGORIZED']

,prism_consumer_id,prism_account_id,memo,amount,posted_date,category
27,0,acc_0,UNCATEGORIZED,310.64,2022-02-22,UNCATEGORIZED
65,0,acc_0,UNCATEGORIZED,150.00,2022-03-11,UNCATEGORIZED
75,0,acc_0,UNCATEGORIZED,2.20,2022-08-01,UNCATEGORIZED
84,0,acc_0,UNCATEGORIZED,405.65,2022-03-29,UNCATEGORIZED
119,0,acc_0,UNCATEGORIZED,547.84,2022-08-23,UNCATEGORIZED
...,...,...,...,...,...,...
2597446,5941,acc_9524,UNCATEGORIZED,251.51,2023-01-13,UNCATEGORIZED
2597463,5941,acc_9524,UNCATEGORIZED,804.27,2023-01-18,UNCATEGORIZED
2597467,5941,acc_9524,UNCATEGORIZED,39.64,2023-01-19,UNCATEGORIZED
2597472,5941,acc_9524,UNCATEGORIZED,0.00,2023-01-20,UNCATEGORIZED
2597487,5941,acc_9524,UNCATEGORIZED,35.13,2023-01-25,UNCATEGORIZED

In [22]:
outflows[['category','memo']].groupby('category').nunique()

                       memo
category
ACCOUNT_FEES              1
ATM_CASH                  1
AUTOMOTIVE                1
AUTO_LOAN                 1
BILLS_UTILITIES           1
BNPL                      1
CHILD_DEPENDENTS          1
CREDIT_CARD_PAYMENT       1
EDUCATION              2122
ENTERTAINMENT             1
ESSENTIAL_SERVICES        1
EXTERNAL_TRANSFER         1
FOOD_AND_BEVERAGES   213794
GENERAL_MERCHANDISE  217779
GIFTS_DONATIONS           1
GROCERIES             71174
HEALTHCARE_MEDICAL        1
HOME_IMPROVEMENT          1
INSURANCE                 1
LOAN                      1
MORTGAGE                174
OVERDRAFT               844
PAYCHECK                  1
PETS                   4421
RENT                   1776
SELF_TRANSFER             1
TAX                       1
TRAVEL                16683
UNCATEGORIZED             1

In [23]:
# double checking 

# outflows[outflows['category']=='TAX']

In [24]:
merchant_cat = ['EDUCATION', 'FOOD_AND_BEVERAGES', 'GENERAL_MERCHANDISE', 'GROCERIES', 'MORTGAGE','OVERDRAFT', 'PETS', 'RENT', 'TRAVEL']

In [25]:
merchant_df = outflows[outflows['category'].isin(merchant_cat)][['category','memo']].reset_index()
merchant_df

,index,category,memo
0,2,FOOD_AND_BEVERAGES,TST* Casa Del Rio - Exp Fairlawn OH 09/24
1,4,FOOD_AND_BEVERAGES,Buffalo Wild Wings
2,6,GENERAL_MERCHANDISE,Oculus CA 04/16
3,7,FOOD_AND_BEVERAGES,LOS GIRASOLES STOW OH 03/08
4,8,GENERAL_MERCHANDISE,BUZZIS LAUNDRY 1 OH 03/28
...,...,...,...
1306447,2597457,GENERAL_MERCHANDISE,DEBIT CARD WITHDRAWAL PURCHASEAmazon Prime*TI4...
1306448,2597462,EDUCATION,POS WITHDRAWALAZ LOT QUIKTRIP XXXX XXXX E INDI...
1306449,2597465,FOOD_AND_BEVERAGES,POS WITHDRAWALWAL-MART #XXXX XXXX E MCKELLIPS ...
1306450,2597468,FOOD_AND_BEVERAGES,WITHDRAWAL Salt River ProjeTYPE: ONLINE PMT CO...
1306451,2597476,FOOD_AND_BEVERAGES,POS WITHDRAWALFRYS-FOOD-DRG #1 435 S. E MESA A...

In [26]:
merchant_df.groupby(['category','memo']).count().sort_values(by=['category','index'], ascending=False).groupby('category').head(3)

                                                                        index
category            memo
TRAVEL              Uber                                                 7989
                    Uber Eats                                            5691
                    Lyft                                                 4648
RENT                SOUTHERN INVESTO WEB PMTS                              47
                    NEWREZ-SHELLPOIN WEB PMTS XXXXXXXXXX WEB ID: XX...     37
                    CHECKCARD XXXX GRACELAND RENTAL XXX-XXXXXXX KY ...     30
PETS                PetSmart                                             1450
                    CHEWY.COM                                             255
                    Pet Supplies Plus                                     228
OVERDRAFT           Overdraft Item Fee                                    374
                    OVERDRAFT ITEM CHARGE                                 191
                    OVERDRAFT PROTECTION TO XXXXXXXXXXXXXX                180
MORTGAGE            HUNTINGTON MORTG ONLINE PMT XXXXXX                     52
                    FREEDOM MTG PYMTS                                      45
                    WELLS FARGO HOME MORTGAGE Bill Payment                 35
GROCERIES           Walmart                                             31619
                    Kroger                                               8423
                    Target                                               8343
GENERAL_MERCHANDISE Amazon                                              31725
                    7-Eleven                                            11675
                    Circle K                                            10148
FOOD_AND_BEVERAGES  McDonald's                                          22670
                    Starbucks                                           12777
                    Chick-fil-A                                          7933
EDUCATION           Teacherspayteachers.com                                90
                    CHECKCARD XXXX BETMGM PLAY+ LAS VEGAS NV XXXXXX...     82
                    Mms University Of Maryl                                59

## Chosen Categories(5)

- **FOOD_AND_BEVERAGES**
- **GENERAL_MERCHANDISE**
- **GROCERIES**
- **PETS**
- **TRAVEL**

In [27]:
chosen_cat = ['FOOD_AND_BEVERAGES', 'GENERAL_MERCHANDISE', 'GROCERIES', 'PETS', 'TRAVEL']

In [28]:
chosen_df = outflows[outflows['category'].isin(chosen_cat)][['category','memo']].reset_index()
chosen_df.groupby(['category','memo']).count().sort_values(by=['category','index'], ascending=False).groupby('category').head(3)

                                       index
category            memo
TRAVEL              Uber                7989
                    Uber Eats           5691
                    Lyft                4648
PETS                PetSmart            1450
                    CHEWY.COM            255
                    Pet Supplies Plus    228
GROCERIES           Walmart            31619
                    Kroger              8423
                    Target              8343
GENERAL_MERCHANDISE Amazon             31725
                    7-Eleven           11675
                    Circle K           10148
FOOD_AND_BEVERAGES  McDonald's         22670
                    Starbucks          12777
                    Chick-fil-A         7933

 ***Most Common Merchants by Category (Top 3)***

- **`TRAVEL`** :`Uber, Uber Eats, Lyft`
-  **`PETS`**  : `PetSmart, CHEWY.COM, Pet Supplies Plus`
- **`GROCERIES`** : `Walmart, Kroger, Target`
- **`GENERAL_MERCHANDISE`**: `Amazon, 7-Eleven, Circle K`
- **`FOOD_AND_BEVERAGES`** : `McDonald's, Starbucks, Chick-fil-a`

## Train-Test Split

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
inflows

,prism_consumer_id,prism_account_id,memo,amount,posted_date,category
0,0,acc_0,PAYCHECK,2477.02,2022-03-18,PAYCHECK
1,0,acc_0,EXTERNAL_TRANSFER,100.00,2022-10-25,EXTERNAL_TRANSFER
2,0,acc_0,MISCELLANEOUS,6.29,2022-08-26,MISCELLANEOUS
3,0,acc_0,EXTERNAL_TRANSFER,277.00,2022-06-03,EXTERNAL_TRANSFER
4,0,acc_0,EXTERNAL_TRANSFER,100.00,2022-07-29,EXTERNAL_TRANSFER
...,...,...,...,...,...,...
513110,5941,acc_9524,EXTERNAL_TRANSFER,8.66,2023-01-21,EXTERNAL_TRANSFER
513111,5941,acc_9524,EXTERNAL_TRANSFER,267.13,2023-01-23,EXTERNAL_TRANSFER
513112,5941,acc_9524,EXTERNAL_TRANSFER,2.00,2023-01-24,EXTERNAL_TRANSFER
513113,5941,acc_9524,EXTERNAL_TRANSFER,207.16,2023-01-24,EXTERNAL_TRANSFER
513114,5941,acc_9524,EXTERNAL_TRANSFER,281.71,2023-01-25,EXTERNAL_TRANSFER

In [31]:
inflows_consumers = inflows['prism_consumer_id'].unique()
inflows_consumers

array([   0,    2,    4, ..., 5939, 5940, 5941])

In [32]:
in_train_users, in_test_users = train_test_split(inflows_consumers, test_size=0.2)#, random_state=42)
len(in_train_users), len(in_test_users)

(2379, 595)

In [33]:
595/2379

0.25010508617065996

In [34]:
in_train_df = inflows[inflows['prism_consumer_id'].isin(in_train_users)]
in_test_df = inflows[inflows['prism_consumer_id'].isin(in_test_users)]

In [35]:
in_train_df

,prism_consumer_id,prism_account_id,memo,amount,posted_date,category
0,0,acc_0,PAYCHECK,2477.02,2022-03-18,PAYCHECK
1,0,acc_0,EXTERNAL_TRANSFER,100.00,2022-10-25,EXTERNAL_TRANSFER
2,0,acc_0,MISCELLANEOUS,6.29,2022-08-26,MISCELLANEOUS
3,0,acc_0,EXTERNAL_TRANSFER,277.00,2022-06-03,EXTERNAL_TRANSFER
4,0,acc_0,EXTERNAL_TRANSFER,100.00,2022-07-29,EXTERNAL_TRANSFER
...,...,...,...,...,...,...
513110,5941,acc_9524,EXTERNAL_TRANSFER,8.66,2023-01-21,EXTERNAL_TRANSFER
513111,5941,acc_9524,EXTERNAL_TRANSFER,267.13,2023-01-23,EXTERNAL_TRANSFER
513112,5941,acc_9524,EXTERNAL_TRANSFER,2.00,2023-01-24,EXTERNAL_TRANSFER
513113,5941,acc_9524,EXTERNAL_TRANSFER,207.16,2023-01-24,EXTERNAL_TRANSFER
513114,5941,acc_9524,EXTERNAL_TRANSFER,281.71,2023-01-25,EXTERNAL_TRANSFER

In [36]:
in_test_df

,prism_consumer_id,prism_account_id,memo,amount,posted_date,category
1021,13,acc_32,REFUND,133.53,2022-02-03,REFUND
1022,13,acc_32,SELF_TRANSFER,1000.00,2022-02-18,SELF_TRANSFER
1023,13,acc_33,SELF_TRANSFER,0.92,2021-09-23,SELF_TRANSFER
1024,13,acc_33,SELF_TRANSFER,0.57,2022-05-06,SELF_TRANSFER
1025,13,acc_33,SELF_TRANSFER,1.61,2021-11-12,SELF_TRANSFER
...,...,...,...,...,...,...
511989,5929,acc_9512,PAYCHECK,743.44,2022-12-28,PAYCHECK
511990,5929,acc_9512,PAYCHECK,728.89,2023-01-10,PAYCHECK
511991,5929,acc_9512,DEPOSIT,10.00,2023-01-13,DEPOSIT
511992,5929,acc_9512,PAYCHECK,728.89,2023-01-24,PAYCHECK
511993,5929,acc_9512,REFUND,6.66,2023-01-24,REFUND

In [37]:
len(in_train_df), len(in_test_df)

(416971, 96144)

In [38]:
99026/414089

0.2391418269985438

In [39]:
in_train_df.groupby('prism_consumer_id').size().mean(), in_test_df.groupby('prism_consumer_id').size().mean()

(175.27154266498528, 161.58655462184873)

In [40]:
in_train_df['amount'].mean(), in_test_df['amount'].mean()

(730.5235924800527, 752.8118058329172)

In [41]:

in_train_df['amount'].median(), in_test_df['amount'].median()

(100.0, 100.0)

*outflows*

In [42]:
outflows_consumers = outflows['prism_consumer_id'].unique()
outflows_consumers

array([   0,    2,    4, ..., 5939, 5940, 5941])

In [43]:
out_train_users, out_test_users = train_test_split(outflows_consumers, test_size=0.2, random_state=42)
len(out_train_users), len(out_test_users)

(2374, 594)

In [44]:
594/2374

0.2502106149957877

In [45]:
out_train_df = outflows[outflows['prism_consumer_id'].isin(out_train_users)]
out_test_df = outflows[outflows['prism_consumer_id'].isin(out_test_users)]
len(out_train_df), len(out_test_df)

(2097805, 499683)

In [46]:
len(out_test_df)/len(out_train_df)

0.23819325437779013

In [47]:
out_train_df.groupby('prism_consumer_id').size().mean(), out_test_df.groupby('prism_consumer_id').size().mean()

(883.6583824768323, 841.2171717171717)

In [48]:
out_train_df['amount'].mean(), out_test_df['amount'].mean()

(138.0927030586732, 174.65576219323057)

In [49]:
results = []

for i in range(10):
    consumers = outflows['prism_consumer_id'].unique()
    train_consumers, test_consumers = train_test_split(consumers, test_size=0.2, random_state=i)

    # create train/test
    out_train_df = outflows[outflows['prism_consumer_id'].isin(train_consumers)]
    out_test_df = outflows[outflows['prism_consumer_id'].isin(test_consumers)]

    train_mean = out_train_df['amount'].mean()
    test_mean = out_test_df['amount'].mean()
    
    results.append({
        'run': i+1,
        'train_mean': train_mean,
        'test_mean': test_mean,
        'test_greater_than_train': test_mean > train_mean
    })
results_df = pd.DataFrame(results)
print("test mean > train mean:", results_df['test_greater_than_train'].sum())

results_df

test mean > train mean: 5

   run  train_mean   test_mean  test_greater_than_train
0    1  143.084348  153.033872                     True
1    2  145.634828  143.093660                    False
2    3  148.333782  132.006570                    False
3    4  135.336009  189.045829                     True
4    5  146.713798  138.832393                    False
5    6  141.546613  159.400710                     True
6    7  145.845616  142.237054                    False
7    8  148.314072  132.605315                    False
8    9  138.849937  168.705635                     True
9   10  141.326526  160.931030                     True

**We split the data at the consumer level so that all transactions from a single consumer are placed entirely in either the training or test set.**

**The train and test splits appear to be unbiased. In 10 random runs, the test mean was greater than the train mean 5 times, which is roughly half. This indicates that both splits likely represent the same underlying data distribution.**

### Memo Cleaning

In [50]:
# out_train_df['memo'].head(50)

credit, debit, withdrawal, recurring, point, of, sale, txn, trxn, crd, pur

- kept in `in`

In [51]:
import re

def clean_memo(text: str) -> str:
    if pd.isna(text):
        return text

    text = text.strip().lower()

    # remove email addresses
    text = re.sub(r'\b([\w\._-]+)@[\w\.-]+\b', r'\1', text)

    # remove tst
    text = re.sub(r'\btst\*', '', text)

    # remove ref/conf/id/payment etc.
    text = re.sub(r'\b(?:ref|conf|id|paymntid|pmt info|payment id|web id|bnf)[#:\s=]*\w*', '', text)

    # remove long X sequences
    text = re.sub(r'x{2,}[a-z0-9]*', '', text)

    # remove dates
    text = re.sub(r'\b\d{1,2}/\d{1,2}(?:/\d{2,4})?\b', '', text)

    # remove 2-letter state abbreviations
    text = re.sub(
        r'\b(?:al|ak|az|ar|ca|co|ct|de|fl|ga|hi|id|il|in|ia|ks|ky|la|me|md|ma|mi|mn|ms|mo|mt|ne|nv|nh|nj|nm|ny|nc|nd|oh|ok|or|pa|ri|sc|sd|tn|tx|ut|vt|va|wa|wv|wi|wy|dc)\b',
        '', text)
    # fix this to not bound it in b; remove only when appear as a regex 

    # remove alphanumeric ids (letters + numbers that are more than 4 chars)
    text = re.sub(r'\b(?=\w*[a-z])(?=\w*\d)[a-z0-9]{4,}\b', '', text)

    # remove street suffixes
    text = re.sub(r'\b(?:st|rd|ave|blvd|pkwy|plz)\b', '', text)

    # remove only the prefixes 'www' or 'https' but keep domain (do we want to remove domain too?)
    text = re.sub(r'\b(?:https?:\/\/|https?\.|www\.)', '', text)

    # remove unwanted words/phrases
    text = re.sub(r'\bpurchase authorized on\b', '', text)
    text = re.sub(r'\b(authorized|payment)\b', '', text)

    # fix wendy’s → wendys
    text = re.sub(r"’|'|`", '', text)

    # add space after certain words if stuck
    text = re.sub(r'(grubhub|doordash)(\w)', r'\1 \2', text)
    text = re.sub(r'purchaseamazon', 'purchase amazon', text)

    # remove dd if followed by doordash
    text = re.sub(r'\bdd doordash\b', 'doordash', text)

    # replacements / normalization
    replacements = {
        'bk': 'bank',
        'wal-mart': 'walmart',
        'wal mart': 'walmart',
        'business to business': 'b2b',
        'pypl': 'paypal',
        'amzn': 'amazon',
        'burgerkin': 'burger king'
    }
    for k, v in replacements.items():
        text = re.sub(rf'\b{k}\b', v, text)

    # remove company suffixes
    text = re.sub(r'\b(?:llc|corp|co|inc)\b', '', text)

    # normalize punctuation
    text = re.sub(r'[_/]', ' ', text)
    text = re.sub(r'(?<!\w)-(?!\w)', ' ', text)
    text = re.sub(r"[!@#$%^&*+=?:;\"',.<>~`|\\]+", ' ', text)

    # collapse duplicate words
    text = re.sub(r'\b(\w+)( \1\b)+', r'\1', text)

    # normalize spaces
    text = re.sub(r'\s+', ' ', text).strip()

    return text

In [52]:
# test runs
df = pd.DataFrame({
    "memo": [
        "TST* Casa Del Rio - Exp Fairlawn OH 9/24",
        "APPLE.COM/BILL CA 04/07",
        "payment to user@email.com REF#12345",
        "Zelle payment from john_doe@email.com 06/12",
        "TGI FRIDAYS XXXX STOW OH 12/31",
        "LOS GIRASOLES STOW OH 03/08",
        "www.elliewang.com",
        "https.elliewang.com",
        "doordash doordash dashmart",
        "wal mart",
        "chick-fil-a",
        "Chick-fiwoodstock",
        "purchase authorized on june",
        "dd doordash",
        "doordashhellofresh",
        "wendy's",
        "purchase authorized on amazon",
        "2kjhfskjd234987dkjghkhf98734",
        "monsters inc"
    ]
})

df["cleaned_memo"] = df["memo"].apply(clean_memo)
print(df)

                                           memo               cleaned_memo
0      TST* Casa Del Rio - Exp Fairlawn OH 9/24  casa del rio exp fairlawn
1                       APPLE.COM/BILL CA 04/07             apple com bill
2           payment to user@email.com REF#12345                    to user
3   Zelle payment from john_doe@email.com 06/12        zelle from john doe
4                TGI FRIDAYS XXXX STOW OH 12/31           tgi fridays stow
5                   LOS GIRASOLES STOW OH 03/08         los girasoles stow
6                             www.elliewang.com              elliewang com
7                           https.elliewang.com              elliewang com
8                    doordash doordash dashmart          doordash dashmart
9                                      wal mart                    walmart
10                                  chick-fil-a                chick-fil-a
11                            Chick-fiwoodstock          chick-fiwoodstock
12                  purchase authorized on june                       june
13                                  dd doordash                   doordash
14                           doordashhellofresh        doordash hellofresh
15                                      wendy's                     wendys
16                purchase authorized on amazon                     amazon
17                 2kjhfskjd234987dkjghkhf98734
18                                 monsters inc                   monsters

In [53]:
# out_train_df.loc[0:49, 'memo'].apply(clean_memo)

In [54]:
subset = out_train_df.sample(n=50, random_state=None).copy()
subset['cleaned_memo'] = subset['memo'].apply(clean_memo)
subset[['memo', 'cleaned_memo']]

,memo,cleaned_memo
859396,CHECKCARD XXXX KLEAN WAY CLEANERS AND LEBANON ...,checkcard klean way cleaners and lebanon
2452244,CHECKCARD XXXX AMERICAN AIRXXXXXXXXXXX FORT WO...,checkcard american air fort worth
2480198,EXTERNAL_TRANSFER,external transfer
194970,PURCHASE AUTHORIZED ON 01/12 FOOD4LESS 312 N.E...,312 n euclid san diego p card
509113,Withdrawal / XXXXXXXX FL CHEWY.COM XXXX,withdrawal chewy com
1360819,MARSHALLS #XXXXXXX MCKINLSAN MARCOS,marshalls mckinlsan marcos
794284,EXTERNAL_TRANSFER,external transfer
1599323,REG HARRISONBURG 01-22 HARRISONBURG VA XXXX DE...,reg harrisonburg 01-22 harrisonburg debit card...
2257957,ACCOUNT_FEES,account fees
1740292,CREDIT_CARD_PAYMENT,credit card payment
2525797,ATM_CASH,atm cash
585478,ENTERTAINMENT,entertainment
2584606,PAYPAL INST XFER XXXXXX APPLE.COM BILL COLETTE...,paypal inst xfer apple com bill colette sherrill
2104329,SELF_TRANSFER,self transfer
57738,CREDIT_CARD_PAYMENT,credit card payment
2247989,ENTERTAINMENT,entertainment
1306350,CHECKCARD XXXX CKE*GYRO TIME LAS VEGAS LAS VEG...,checkcard cke gyro time las vegas las vegas
666935,Nordstrom,nordstrom
932077,Sam's Club,sams club
1130305,PURCHASE AUTHORIZED ON 10/28 CASEY'S CORNER BO...,caseys corner bozeman p card
1423707,SELF_TRANSFER,self transfer
858756,EXTERNAL_TRANSFER,external transfer
1127268,Canteen Vending,canteen vending
1002993,UNCATEGORIZED,uncategorized
2236527,EXTERNAL_TRANSFER,external transfer
2486348,SHOPRITE ARMNGOCSTR S1 PHILADELPHIA PACard XXX...,shoprite armngocstr s1 philadelphia pacard wit...
1792746,RED ROBIN NO 707 JACKSON TN 0...,red robin no 707 jackson
2117897,XXXX VSA PUR APPLE.COM BILL XXX-XXX-XXXX CA,vsa pur apple com bill
843657,EXTERNAL_TRANSFER,external transfer
1582643,Gasland Shop LLC,gasland shop
1159039,CASH APP*JESSE HUBB XXXXXXXXXX,cash app jesse hubb
2476807,EXTERNAL_TRANSFER,external transfer
2002658,EXTERNAL_TRANSFER,external transfer
289335,AUTOMOTIVE,automotive
295470,EXTERNAL_TRANSFER,external transfer
1376116,Walmart,walmart
2537993,PURCHASE AUTHORIZED ON 11/17 DOORDASH*TACO BEL...,doordash taco bell doordash s card
1754619,EXTERNAL_TRANSFER,external transfer
2215231,ATM_CASH,atm cash
2307995,PURCHASE AUTHORIZED ON 02/24 7-ELEVEN ORLANDO ...,7-eleven orlando p card
627674,ENTERTAINMENT,entertainment
2115940,ESSENTIAL_SERVICES,essential services
2486560,MCDONALD'S F23 XXXX WHITAKER AVEPHILADELPHIA P...,mcdonalds f23 whitaker avephiladelphia pacard ...
908477,TARGET XXXXXXXX MESA AZ 12/17,target mesa
118896,UNCATEGORIZED,uncategorized
2483861,UNCATEGORIZED,uncategorized
280903,EXTERNAL_TRANSFER,external transfer
1988968,EXTERNAL_TRANSFER,external transfer
2597059,ATM_CASH,atm cash
2469108,EXTERNAL_TRANSFER,external transfer

In [55]:
mask = out_train_df['memo'].str.contains('dd', case=False, na=False)
out_train_df.loc[mask, 'memo'] = out_train_df.loc[mask, 'memo'].apply(clean_memo)
out_train_df.loc[mask, 'memo'].head(50)

149                                     doordash dashmart
263                                     doordash pizzahut
417                                    doordash lemongras
481                                    doordash timspizze
579                                    doordash cosmicwin
1275                            usps change of add s card
2152                           usps change of address usa
5521                  checkcard dnh godaddy com recurring
6720              checkcard dnh godaddy com gaz recurring
6880                                           amazon com
8467        online transfer to ting lui c savings uber to
8622            doordash cosmic 04-05 debit card purchase
8625            doordash papamu 06-13 debit card purchase
8670            doordash chipot 02-20 debit card purchase
8690            doordash potbel 05-03 debit card purchase
8720            doordash sweetd 02-11 debit card purchase
8780            doordash family 01-26 debit card purchase
8837            doordash elizab 12-06 debit card purchase
8860            doordash vitosm 01-07 debit card purchase
8876            doordash chick- 01-29 debit card purchase
8942            doordash chick- 05-17 debit card purchase
9165            doordash roundb 03-16 debit card purchase
9286            doordash bojang 03-03 debit card purchase
9385             doordash arbys 06-12 debit card purchase
9439            doordash fivegu 02-22 debit card purchase
9462            doordash jersey 05-19 debit card purchase
9532            doordash chick- 11-06 debit card purchase
9536            doordash roundb 04-11 debit card purchase
9619            doordash vitosm 01-10 debit card purchase
9621             doordash arbys 06-25 debit card purchase
9662            doordash tacobe 05-10 debit card purchase
9722            doordash chick- 06-04 debit card purchase
9724            doordash chick- 05-04 debit card purchase
9778                      dda purchase walmart old bridge
9782               visa dda pur pasquales pizza iv linden
9783                      visa dda pur americanmuscle com
9785                   visa dda pur bagel world manalapan
9805                          visa dda pur apple com bill
9809                       visa dda pur moe s englishtown
9810            dda purchase tjma 0 u s rte 9 englishtown
9822                   visa dda pur bagel world manalapan
9832    visa dda pur big bob s philly cheeses englishtown
9842         dda purchase marshalls 200 trotters freehold
9844            visa dda pur cool smoothie bubbl freehold
9850          dda purchase wm superc walmart sup freehold
9872                  visa dda pur zacks deli englishtown
9879              visa dda pur quick chek 096 englishtown
9886             dda purchase quick chek food englishtown
9892           dda purchase shoprite marlboro s1 marlboro
9893         visa dda pur gladstone corner deli gladstone
Name: memo, dtype: object

### Cleaning Banking Transactional Memos

In [56]:
out_train_df

,prism_consumer_id,prism_account_id,memo,amount,posted_date,category
0,0,acc_0,LOAN,900.60,2022-07-05,LOAN
1,0,acc_0,ATM_CASH,80.00,2022-03-25,ATM_CASH
2,0,acc_0,TST* Casa Del Rio - Exp Fairlawn OH 09/24,18.42,2022-09-26,FOOD_AND_BEVERAGES
3,0,acc_0,LOAN,634.00,2023-01-10,LOAN
4,0,acc_0,Buffalo Wild Wings,26.47,2022-09-12,FOOD_AND_BEVERAGES
...,...,...,...,...,...,...
2597483,5941,acc_9524,ATM_CASH,8.42,2023-01-25,ATM_CASH
2597484,5941,acc_9524,ATM_CASH,2.06,2023-01-25,ATM_CASH
2597485,5941,acc_9524,ATM_CASH,262.88,2023-01-25,ATM_CASH
2597486,5941,acc_9524,ATM_CASH,10.00,2023-01-25,ATM_CASH
2597487,5941,acc_9524,UNCATEGORIZED,35.13,2023-01-25,UNCATEGORIZED

In [57]:
test_snippet = out_train_df['memo'].iloc[:50]
test_snippet

0                                            LOAN
1                                        ATM_CASH
2       TST* Casa Del Rio - Exp Fairlawn OH 09/24
3                                            LOAN
4                              Buffalo Wild Wings
5                                   ENTERTAINMENT
6                                 Oculus CA 04/16
7                     LOS GIRASOLES STOW OH 03/08
8                       BUZZIS LAUNDRY 1 OH 03/28
9                       BUZZIS LAUNDRY 1 OH 02/13
10                                  ENTERTAINMENT
11                 TGI FRIDAYS XXXX STOW OH 12/31
12    TST* The Basement Sp Cuyahoga Fall OH 06/06
13                                         Lowe's
14                            PIADA - 39 OH 08/23
15                                        GrubHub
16                             ESSENTIAL_SERVICES
17                 HARDEES XXXXXXX AKRON OH 05/29
18    MARKET DI XXXX State Cuyahoga Fall OH 04/06
19             SWENSONS - MONTROSE AKRON OH 06/29
20                                    Great Clips
21                              EXTERNAL_TRANSFER
22                        APPLE.COM/BILL CA 04/07
23                                     AUTOMOTIVE
24                        APPLE.COM/BILL CA 04/29
25                                     AUTOMOTIVE
26                        APPLE.COM/BILL CA 01/28
27                                  UNCATEGORIZED
28                    LOS GIRASOLES STOW OH 05/24
29    WING WAREHOUSE CUYAH CUYAHOGA FALL OH 03/29
30                WINKING LIZARD - 30 MA OH 05/23
31                                  ENTERTAINMENT
32                              EXTERNAL_TRANSFER
33    LONGHORN STEAK XXXXX CUYAHOGA FALL OH 10/09
34    ON TAP - CUYAHOGA FA CUYAHOGA FALL OH 12/06
35    TST* The Basement Sp Cuyahoga Fall OH 08/26
36                                    Great Clips
37                                     AUTOMOTIVE
38                                Oculus CA 03/12
39                            CREDIT_CARD_PAYMENT
40                                     AUTOMOTIVE
41                            CREDIT_CARD_PAYMENT
42                                     Home Depot
43                            CREDIT_CARD_PAYMENT
44                                         Lowe's
45    FALLS DISCOUNT TOBACC CUYAHOGA FLS OH 05/20
46                             ESSENTIAL_SERVICES
47                                    Burger King
48                             ESSENTIAL_SERVICES
49                                         Lowe's
Name: memo, dtype: object

In [58]:
out_train_df[out_train_df['memo'].str.contains('')]['memo'].to_list()[0:5]

['LOAN',
 'ATM_CASH',
 'TST* Casa Del Rio - Exp Fairlawn OH 09/24',
 'LOAN',
 'Buffalo Wild Wings']

In [59]:
out_train_df[out_train_df['memo'].str.contains(r'[\u200B\u200C\u200D\u2060\uFEFF\u00A0\u180E]', regex=True)]['memo'].to_list()[0:5]

['DBT CRD XXXX\xa012/05/22 XXXXXXXX DUTCHBROS180 NAMPA \xa0ID C# XXXX',
 'DBT CRD XXXX\xa012/18/22 XXXXXXXX MCDONALD\xa0S FXXXXX NAMPA \xa0 ID C# XXXX',
 'POS DEB XXXX\xa012/24/22 XXXXXXXX\xa0FRED-MEYER #XXXX FRED MEY\xa0NAMPA ID Card#\xa0XXXX',
 'DBT CRD XXXX\xa011/17/22 XXXXXXXX MCDONALD\xa0S FXXXXX NAMPA \xa0 ID C# XXXX',
 'DBT CRD XXXX\xa012/23/22 XXXXXXXX SONIC\xa0DRIVE IN #XXXX NAMPA \xa0 ID C# XXXX']

In [60]:
def cleaning(series):
    series = series.str.lower() # CASE NORMALIZATION
    series = series.apply(lambda x: x.encode('utf-8', errors='ignore').decode('utf-8', errors='ignore')) # CONVERT INTO UTF-8 

    # REMOVE @ BUT EXTRACT THE EMAIL DOMAIN
    def extract_email_domain(text):
        def replacer(match):
            full_email = match.group(0)
            domain = full_email.split('@')[1]  # take part after '@'
            return domain
        return re.sub(r'[\w\.-]+@[\w\.-]+', replacer, text)
    series = series.apply(extract_email_domain)

    # REMOVE ALL . UNLESS IT'S IN A WEBSITE OR EMAIL DOMAIN (remove standalone dots - not part of word/num)
    series = series.str.replace(r'(?<!\w)\.(?!\w)', '', regex=True)

    # REMOVE ALL # AND CHARACTERS AFTER IT (likely numbers)
    series = series.str.replace(r'#.*', '', regex=True)

    # REMOVE ALL % (not useful)
    series = series.str.replace('%', '')

    # REMOVE * (usually follows TST, so we can just use that)
    series = series.str.replace('*', '')

    # REMOVE PARENTHESES
    series = series.str.replace(r'[()]', '', regex=True)

    # REMOVE / AND REPLACE WITH ' '- occurs most commonly in dates but doesn't provide much info to repaying loans
    series = series.str.replace(r'\b\d{1,2}/\d{1,2}(?:/\d{2,4})?\b', '', regex=True)
    series = series.str.replace('/', ' ', regex=True)

    # REPLACE & WITH 'AND' UNLESS IT APPEARS IN 'AT&T' OR 'H&M'
    def replace_ampersand(text):
        if 'h&m' not in text and 'at&t' not in text:
            return text.replace('&', 'and')
        return text
    series = series.apply(replace_ampersand)

    # REMOVE ALL APOSTROPHES
    series = series.str.replace("'", "")

    # REPLACE '_' WITH ' '
    series = series.str.replace('_', ' ')

    # REMOVE ALL $
    series = series.str.replace('$', '')

    # REMOVE ALL :
    series = series.str.replace(':', '')

    # remove standalone sequence of + digits surrounded by word boundaries
    # chose 4 because after removing dashes from dates, we end up with many unneeded 4-digit numbers
    series = series.replace(r'\b\d{4,}\b', '', regex=True) 

    # REMOVE XXXX IF THERE ARE 4+ Xs
    series = series.str.replace(r'x{4,}', '', regex=True)

    # REMOVE ALL DASHES UNLESS SURROUNDED BY ALPHANUMERIC TEXT (detects phone numbers, codes, some merchant names)
    series = series.str.replace(r'(?<!\w)-{1,}(?!\w)', '', regex=True)

    # REMOVE INVISIBLE/ZERO-WIDTH CHARACTERS
    # series = series.str.replace(r'[\u200B\u200C\u200D\u2060\uFEFF\u00A0\u180E]', ' ', regex=True)

    # SPECIAL CASE: DOORDASH
    series = series.str.replace(r'(?<=doordash)(?=[A-Za-z])', ' ', regex=True)

    # REMOVE REDUNDANT WHITESPACE
    series = series.replace(r'\s+', ' ', regex=True).str.strip()

    return series

In [61]:
cleaning(test_snippet).to_list()

['loan',
 'atm cash',
 'tst casa del rio exp fairlawn oh',
 'loan',
 'buffalo wild wings',
 'entertainment',
 'oculus ca',
 'los girasoles stow oh',
 'buzzis laundry 1 oh',
 'buzzis laundry 1 oh',
 'entertainment',
 'tgi fridays stow oh',
 'tst the basement sp cuyahoga fall oh',
 'lowes',
 'piada 39 oh',
 'grubhub',
 'essential services',
 'hardees akron oh',
 'market di state cuyahoga fall oh',
 'swensons montrose akron oh',
 'great clips',
 'external transfer',
 'apple.com bill ca',
 'automotive',
 'apple.com bill ca',
 'automotive',
 'apple.com bill ca',
 'uncategorized',
 'los girasoles stow oh',
 'wing warehouse cuyah cuyahoga fall oh',
 'winking lizard 30 ma oh',
 'entertainment',
 'external transfer',
 'longhorn steak cuyahoga fall oh',
 'on tap cuyahoga fa cuyahoga fall oh',
 'tst the basement sp cuyahoga fall oh',
 'great clips',
 'automotive',
 'oculus ca',
 'credit card payment',
 'automotive',
 'credit card payment',
 'home depot',
 'credit card payment',
 'lowes',
 'falls discount tobacc cuyahoga fls oh',
 'essential services',
 'burger king',
 'essential services',
 'lowes']

In [62]:
# cleaning(out_train_df[out_train_df['memo'].str.contains(r'[\u200B\u200C\u200D\u2060\uFEFF\u00A0\u180E]', regex=True)]['memo']).to_list()

In [63]:
# Test series
test_memos = pd.Series([
    "POS PURCHASE - STARBUCKS 04/25",               # normal purchase with dash and date
    "Payment to user@google.com",                   # email extraction
    "H&M Store #12345",                             # & and # handling
    "T.J.Maxx (0425)",                              # parentheses, dot handling
    "Transfer 1234-5678",                           # long digits and dash
    "ACH CREDIT PAYROLL 50%",                       # % removal
    "VENMO PAYMENT TO john.doe@venmo.com",          # email domain + dot
    "ATM WDL $200*",                                # asterisk removal
    "AT&T Bill Payment 09/23",                      # & preserved in AT&T
    "Online subscription: Netflix.com",             # dot in domain,
    " POS PURCHASE STARBUCKS 0425 ",
    "ACH CREDIT 12345678"
])

In [64]:
cleaning(test_memos).to_list()

['pos purchase starbucks',
 'payment to google.com',
 'h&m store',
 't.j.maxx',
 'transfer',
 'ach credit payroll 50',
 'venmo payment to venmo.com',
 'atm wdl 200',
 'at&t bill payment',
 'online subscription netflix.com',
 'pos purchase starbucks',
 'ach credit']

In [65]:
# EXAMPLE OF EXTRACTING EMAIL DOMAINS

def extract_email_domain(text):
    def replacer(match):
        full_email = match.group(0)
        domain = full_email.split('@')[1]  # take part after '@'
        return domain
    return re.sub(r'[\w\.-]+@[\w\.-]+', replacer, text)
     
extract_email_domain('happy-cat88@gmail.com')

'gmail.com'

In [66]:
def replace_ampersand(text):
    if 'h&m' not in text and 'at&t' not in text:
        return text.replace('&', 'and')
    return text
replace_ampersand('the cat & i')

'the cat and i'

In [67]:
out_train_df

,prism_consumer_id,prism_account_id,memo,amount,posted_date,category
0,0,acc_0,LOAN,900.60,2022-07-05,LOAN
1,0,acc_0,ATM_CASH,80.00,2022-03-25,ATM_CASH
2,0,acc_0,TST* Casa Del Rio - Exp Fairlawn OH 09/24,18.42,2022-09-26,FOOD_AND_BEVERAGES
3,0,acc_0,LOAN,634.00,2023-01-10,LOAN
4,0,acc_0,Buffalo Wild Wings,26.47,2022-09-12,FOOD_AND_BEVERAGES
...,...,...,...,...,...,...
2597483,5941,acc_9524,ATM_CASH,8.42,2023-01-25,ATM_CASH
2597484,5941,acc_9524,ATM_CASH,2.06,2023-01-25,ATM_CASH
2597485,5941,acc_9524,ATM_CASH,262.88,2023-01-25,ATM_CASH
2597486,5941,acc_9524,ATM_CASH,10.00,2023-01-25,ATM_CASH
2597487,5941,acc_9524,UNCATEGORIZED,35.13,2023-01-25,UNCATEGORIZED

In [68]:
out_train_df['cleaned_memos'] = cleaning(out_train_df['memo'])
out_train_df

/tmp/ipykernel_1577/3473200593.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  out_train_df['cleaned_memos'] = cleaning(out_train_df['memo'])

,prism_consumer_id,prism_account_id,memo,amount,posted_date,category,cleaned_memos
0,0,acc_0,LOAN,900.60,2022-07-05,LOAN,loan
1,0,acc_0,ATM_CASH,80.00,2022-03-25,ATM_CASH,atm cash
2,0,acc_0,TST* Casa Del Rio - Exp Fairlawn OH 09/24,18.42,2022-09-26,FOOD_AND_BEVERAGES,tst casa del rio exp fairlawn oh
3,0,acc_0,LOAN,634.00,2023-01-10,LOAN,loan
4,0,acc_0,Buffalo Wild Wings,26.47,2022-09-12,FOOD_AND_BEVERAGES,buffalo wild wings
...,...,...,...,...,...,...,...
2597483,5941,acc_9524,ATM_CASH,8.42,2023-01-25,ATM_CASH,atm cash
2597484,5941,acc_9524,ATM_CASH,2.06,2023-01-25,ATM_CASH,atm cash
2597485,5941,acc_9524,ATM_CASH,262.88,2023-01-25,ATM_CASH,atm cash
2597486,5941,acc_9524,ATM_CASH,10.00,2023-01-25,ATM_CASH,atm cash
2597487,5941,acc_9524,UNCATEGORIZED,35.13,2023-01-25,UNCATEGORIZED,uncategorized

In [69]:
out_train_df[out_train_df['cleaned_memos'].str.contains('in-n-out')]['cleaned_memos']

79716      in-n-out burger
94326      in-n-out burger
94568      in-n-out burger
94605      in-n-out burger
94912      in-n-out burger
                ...
2469319    in-n-out burger
2469338    in-n-out burger
2469373    in-n-out burger
2469497    in-n-out burger
2469681    in-n-out burger
Name: cleaned_memos, Length: 160, dtype: object

In [70]:
out_test_df['cleaned_memos'] = cleaning(out_test_df['memo'])
out_test_df

/tmp/ipykernel_1577/1279791862.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  out_test_df['cleaned_memos'] = cleaning(out_test_df['memo'])

,prism_consumer_id,prism_account_id,memo,amount,posted_date,category,cleaned_memos
4403,11,acc_26,AUTOMOTIVE,26.98,2022-03-28,AUTOMOTIVE,automotive
4404,11,acc_26,AUTOMOTIVE,27.17,2022-03-15,AUTOMOTIVE,automotive
4405,11,acc_26,DEBIT CARD PURCHASE XXXXXXXXX Amazon.com*166OI...,8.28,2022-04-04,GENERAL_MERCHANDISE,debit card purchase amazon.com166oi77d2 amzn.c...
4406,11,acc_26,McDonald's,11.21,2022-04-11,FOOD_AND_BEVERAGES,mcdonalds
4407,11,acc_26,Lowe's,155.60,2022-03-14,GENERAL_MERCHANDISE,lowes
...,...,...,...,...,...,...,...
2595708,5939,acc_9522,PURCHASE 01-27 CLKBANK*MoonReading XXX-XXX-XXX...,11.00,2023-01-27,GENERAL_MERCHANDISE,purchase 01-27 clkbankmoonreading xxx-xxx- id vnt
2595709,5939,acc_9522,PURCHASE 01-26 CASH APP*DIANA STIE XXXXXXXXXX ...,16.00,2023-01-27,GENERAL_MERCHANDISE,purchase 01-26 cash appdiana stie ca vnt
2595710,5939,acc_9522,PURCHASE 01-26 CASH APP*DIANA STIE XXXXXXXXXX ...,16.00,2023-01-27,GENERAL_MERCHANDISE,purchase 01-26 cash appdiana stie ca vnt
2595711,5939,acc_9522,ESSENTIAL_SERVICES,34.95,2023-01-30,ESSENTIAL_SERVICES,essential services
2595712,5939,acc_9522,ACCOUNT_FEES,29.00,2023-01-31,ACCOUNT_FEES,account fees

In [71]:
# out_train_df[['memo', 'cleaned_memos']].to_csv('cleaned_data.csv', index=False)

### Feature Creation

In [72]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
from scipy.stats import randint
# from sentence_transformers import SentenceTransformer
# import torch
from finbert_embedding.embedding import FinbertEmbedding

2025-11-04 17:50:29.176208: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2025-11-04 17:50:29.176261: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2025-11-04 17:50:29.177669: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2025-11-04 17:50:29.183197: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [73]:
out_train_df_modified = out_train_df.copy()
out_test_df_modified = out_test_df.copy()

In [74]:
# from earlier: 
merchant_cat = ['EDUCATION', 'FOOD_AND_BEVERAGES', 'GENERAL_MERCHANDISE', 'GROCERIES', 'MORTGAGE','OVERDRAFT', 'PETS', 'RENT', 'TRAVEL']

In [75]:
# filtered dataset - just the 9 categories

In [76]:
out_train_df_modified = out_train_df_modified[out_train_df_modified['category'].isin(merchant_cat)]
out_test_df_modified = out_test_df_modified[out_test_df_modified['category'].isin(merchant_cat)]

In [77]:
# Dealing with Numeric Attributes
for df in [out_train_df_modified, out_test_df_modified]:
    df['posted_date'] = pd.to_datetime(df['posted_date']) # convert to datetime format
    df['day_of_week'] = df['posted_date'].dt.dayofweek.astype(int)
    df['day_of_month'] = df['posted_date'].dt.day
    df['is_weekend'] = (df['day_of_week'] >= 5).astype(int)
    df['whole_dollar'] = round(df['amount']).astype(int)

In [78]:
preprocessor = ColumnTransformer(
    transformers = [
        # TF-IDF vectorizer - returns sparse
        ('text', TfidfVectorizer(
        max_features=5000, 
        ngram_range = (1,2), #drop too common items
        ), 'cleaned_memos'), 

        # standard scaler - returns dense
        ('numeric', StandardScaler(), ['amount', 'day_of_week', 'is_weekend', 'whole_dollar'])

    ], sparse_threshold=0.5
)

In [80]:
out_train_tfidf = preprocessor.fit_transform(out_train_df_modified)
out_test_tfidf = preprocessor.transform(out_test_df_modified)

In [81]:
tfidf_sparsity = 1 - (out_train_tfidf.nnz / (out_train_tfidf.shape[0] * out_train_tfidf.shape[1]))
print(f"TF-IDF sparsity: {tfidf_sparsity:.2%}")
print(f"TF-IDF non-zero ratio: {1-tfidf_sparsity:.2%}")

TF-IDF sparsity: 99.80%
TF-IDF non-zero ratio: 0.20%

In [ ]:
# Baseline model - no hyperparameter tuning needed
model = LogisticRegression(max_iter = 1000, random_state=42)
model.fit(out_train_tfidf, y_train)

In [ ]:
y_pred = model.predict(out_test_tfidf)

In [ ]:
print(f"Accuracy: {accuracy_score(y_test, y_pred):.4f}")
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

In [ ]:
# Advanced model
adv_model = RandomForestClassifier(random_state = 42, n_jobs = -1)

In [ ]:
adv_model.fit(out_train_tfidf, y_train)

In [ ]:
y_pred_adv = adv_model.predict(out_test_tfidf)

In [ ]:
print(f"Accuracy: {accuracy_score(y_test, y_pred_adv):.4f}")
print("\nClassification Report:")
print(classification_report(y_test, y_pred_adv))

In [82]:
!pip install transformers --quiet

In [83]:
from transformers import AutoTokenizer, AutoModel

In [ ]:
# Using transformers from GPT! We'll use FinBERT because we are dealing with banking transactional memos
# AutoTokenizer import issues so temporarily commented out
tokenizer = AutoTokenizer.from_pretrained("ProsusAI/finbert")
model = AutoModel.from_pretrained("ProsusAI/finbert")

In [ ]:
model_finbert = LogisticRegression(max_iter=1000, random_state=42)
model_finbert.fit(out_train_tfidf, y_train)

In [94]:
x_train = out_train_df_modified['cleaned_memos'].to_list()
y_train = out_train_df_modified['category'].to_list()
x_test = out_test_df_modified['cleaned_memos'].to_list()
y_test = out_test_df_modified['category'].to_list()

In [95]:
import time
from sklearn.metrics import accuracy_score

# set timing
start_time = time.time()
model_finbert = LogisticRegression(max_iter=1000, random_state=42)
set_time = time.time() - start_time


# Train timing
start_time = time.time()
model_finbert.fit(out_train_tfidf, y_train)
train_time = time.time() - start_time

# Inference timing
start_time = time.time()
y_pred = model_finbert.predict(out_test_tfidf)
inference_time = time.time() - start_time

print(f"Set up time: {set_time:.3f} seconds")
print(f"Training time: {train_time:.3f} seconds")
print(f"Inference time: {inference_time:.3f} seconds")
print(f"Accuracy: {accuracy_score(y_test, y_pred):.4f}")

KeyboardInterrupt:

In [ ]:
import time
import torch
import numpy as np
from transformers import AutoTokenizer, AutoModel
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import train_test_split

# 1️⃣ Load FinBERT model
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
print(f"Using device: {device}")

tokenizer = AutoTokenizer.from_pretrained("ProsusAI/finbert")
model = AutoModel.from_pretrained("ProsusAI/finbert").to(device)

# 3️⃣ Safe embedding function with batching
def get_finbert_embeddings(text_list, batch_size=128):
    embeddings = []
    for i in range(0, len(text_list), batch_size):
        batch_texts = text_list[i:i+batch_size]
        inputs = tokenizer(batch_texts, return_tensors="pt", padding=True, truncation=True).to(device)
        with torch.no_grad():
            outputs = model(**inputs)
        batch_emb = outputs.last_hidden_state.mean(dim=1).cpu().numpy()
        embeddings.append(batch_emb)
        torch.cuda.empty_cache()  # free GPU memory if used
    return np.concatenate(embeddings, axis=0)

# 4️⃣ Generate embeddings safely
print("⏱ Generating FinBERT embeddings (batched)...")
start_time = time.time()
X_train_emb = get_finbert_embeddings(x_train)
X_test_emb = get_finbert_embeddings(x_test)
embedding_time = time.time() - start_time
print(f"Embedding generation time: {embedding_time:.2f} seconds\n")

# 5️⃣ Train Logistic Regression
model_finbert = LogisticRegression(max_iter=1000, random_state=42)

start_time = time.time()
model_finbert.fit(X_train_emb, y_train)
train_time = time.time() - start_time

# 6️⃣ Inference
start_time = time.time()
y_pred = model_finbert.predict(X_test_emb)
inference_time = time.time() - start_time

# 7️⃣ Evaluation
print(f"Training time: {train_time:.3f} seconds")
print(f"Inference time: {inference_time:.3f} seconds")
print(f"Accuracy: {accuracy_score(y_test, y_pred):.4f}")
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

Using device: cuda
⏱ Generating FinBERT embeddings (batched)...
Embedding generation time: 1152.64 seconds

In [ ]:
y_pred = model_finbert.predict(out_test_tfidf)

In [ ]:
# y_pred_finbert = model_finbert.predict(out_test_tfidf)

In [ ]:
# finbert = FinbertEmbedding() # also gets errors 
# ValueError: Paths are no longer accepted as the `fname` argument.

In [ ]:
model_finbert.predict(out_test_tfidf)

In [ ]:
print(f"Accuracy: {accuracy_score(y_test, y_pred):.4f}")
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

Aside from accuracy, we are also interested in evaluating our model with the **F1 Macro** metric, which calculates the F1 score equally for each class and averages them. This allows us to treat each class equally, which is important in this scenario since categories that appear less frequently, such as Mortgage and Rent, are just as important to correctly categorize as groups that appear very often, such as General Merchandise and Food and Beverages. The F1 Macro metric also handles class imbalance well. Accuracy may be misleading since our dataset is primarily dominated by education and food, and other categories are disproportionately represented.

In [ ]:
out_train_df_modified['category'].value_counts(normalize=True)

#### Checkpoint Plan

> As your report checkpoint, you will submit the title, abstract, and introduction sections of your report. Note that your introduction itself will have three sections – an introductory paragraph, a literature review and discussion of prior work, and a description of relevant data. Intuitively, your checkpoint should contain a summary of the problem you are working on this quarter, with some context on why it’s interesting, along with anything your mentor wants you to include.

* Abstract -- Ellie
* Introduction
  * Intro Paragraph -- Ellie
  * Literature Review + Prior Work -- Jasmine
  * Relevant Data (describe datasets; inflows + outflows) -- David, Jasmine
* Summary of Problem
  * Why It's Interesting -- David
  * Anything else Kyle wants (?)
    * Ask Kyle about this tomorrow!

Other Notes:
* David + Ellie will further clean up the data; will make a new cleaned GitHub for the public! :)